<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.careerweb">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/graduation_cap_100px"
        android:label="@string/app_name"
        android:roundIcon="@drawable/graduation_cap_100px"
        android:supportsRtl="true"
        android:theme="@style/Theme.CareerWeb">
        <activity
            android:name=".AddFaq"
            android:exported="false" />
        <activity
            android:name=".RegisterMentor"
            android:exported="false" />
        <activity
            android:name=".MentorPage"
            android:exported="false" />
        <activity
            android:name=".AdminPage"
            android:exported="false" />
        <activity
            android:name=".Program"
            android:exported="false" />
        <activity
            android:name=".UniversityProfile"
            android:exported="false" />
        <activity
            android:name=".Faq"
            android:exported="true" />
        <activity
            android:name=".EligibilityCheck"
            android:exported="true" />
        <activity
            android:name=".Register"
            android:exported="true" />
        <activity
            android:name=".Login"
            android:exported="true" />
        <activity
            android:name=".Home"
            android:exported="true" />
        <activity
            android:name=".Mentors"
            android:exported="true" />
        <activity
            android:name=".Programs"
            android:exported="true" />
        <activity
            android:name=".Universities"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>